<h2>Najnovije vesti</h2>
{{xml}}
{% for vest in marco %}
<div style='border:1px solid red; padding:4px;margin:4px;'>
    <h2 style='margin:2px;padding:2px;'>{{vest['naslov']}}</h2>
    <p>{{vest["sadrzaj"]}}</p>
    <img src='{{vest["slika"]}}' width=100 />
</div>
{% endfor %}