				<div class="box">
					<div>
						<div class="body">
							<h1>Dive Site</h1>
							<ul id="sites">
								<li>
									<a href="dives.html"><img src="images/reef1.jpg" alt="Img"></a>
									<h2><a href="dives.html">Gale Reef</a></h2>
									<p>
										Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
									</p>
									<p>
										Sed consequat libero ut turpis venenatis ut aliquam risus semper. Etiam convallis mi vel risus pretium sodales. Etiam nunc lorem ullamcorper vitae laoreet.
									</p>
								</li>
								<li>
									<a href="dives.html"><img src="images/reef2.jpg" alt="Img"></a>
									<h2><a href="dives.html">Dawson’s Reef</a></h2>
									<p>
										Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat. Nunc nisi mi, elementum sit amet aliquet quis, tristique quis nisl. Curabitur odio lacus, blandit ut hendrerit
									</p>
									<p>
										vulputate, vulputate at est. Morbi aliquet viverra metus eu consectetur. In lorem dui, elementum sit amet convallis ac, tincidunt vel sapien.
									</p>
								</li>
								<li>
									<a href="dives.html"><img src="images/reef3.jpg" alt="Img"></a>
									<h2><a href="dives.html">Claire’s REEF</a></h2>
									<p>
										Donec sed felis risus. Nulla facilisi. Donec a orci tellus, et auctor odio. Fusce ac orci nibh, quis semper arcu. Cras orci neque, euismod et accumsan ac, sagittis molestie lorem. Proin odio sapien, elementum at tempor non.
									</p>
									<p>
										Vulputate eget libero. In hac habitasse platea dictumst. Integer purus justo, egestas eu consectetur eu, cursus in tortor. Quisque nec nunc ac mi ultrices iaculis.
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>