				<div class="box">
					<div>
						<div class="body">
							<h1>Food</h1>
							<ul id="foods">
								<li>
									<h2><a href="foods.html">SeaFood Special</a></h2>
									<div class="infos">
										<a href="foods.html"><img src="images/seafoods.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Fried Salmon Special</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
								<li>
									<h2><a href="foods.html">Sumptuous Desserts</a></h2>
									<div class="infos">
										<a href="foods.html"><img src="images/desserts.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Choco Ice Cream Sandwich</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
								<li>
									<h2><a href="foods.html">Buffet</a></h2>
									<div class="infos">
										<a href="foods.html"><img src="images/buffet.jpg" alt="Img" height="169" width="780"><span class="cover"></span></a>
										<p>
											<span>Mixed Buffet</span> I'm a product overview. Here you can write more information about your product. Buyers like to know ...
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	