				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								<h3>Latest News</h3>
								<ul>
									<li>
										<a href="news.html">2023 Bikini Contest Winners</a>
									</li>
									<li>
										<a href="news.html">Top 10 Diving Spots</a>
									</li>
									<li>
										<a href="news.html">Fishing ban to be implemented this year</a>
									</li>
									<li>
										<a href="news.html">Lifeguard saves child from drowning</a>
									</li>
								</ul>
								<h3>Vaction Tips</h3>
								<ul>
									<li>
										<a href="news.html">What to bring on the beach?</a>
									</li>
									<li>
										<a href="news.html">Planning Fun Activities</a>
									</li>
									<li>
										<a href="news.html">Diving Checklist</a>
									</li>
									<li>
										<a href="news.html">First Aid</a>
									</li>
									<li>
										<a href="news.html">How to Build a Sand Castle?</a>
									</li>
									<li>
										<a href="news.html">Tanning Tips</a>
									</li>
								</ul>
							</div>
							<div>
								<h1>News</h1>
								<img src="images/kayak.jpg" alt="Img">
								<h2>Experience Kayaking!</h2>
								<span class="time">April 03, 2023<br> by: Juan De La Cruz</span>
								<p>
									Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis. Sed consequat libero ut turpis venenatis ut aliquam risus semper. Etiam convallis mi vel risus pretium sodales. Etiam nunc lorem, ullamcorper vitae laoreet id, rutrum et tortor. Vivamus luctus, lacus id egestas facilisis, nunc nunc ultricies lorem, vitae pulvinar nibh urna vel velit.
								</p>
								<p>
									Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci. Donec pulvinar sagittis metus ut tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Nulla at nunc sit amet justo cursus imperdiet. Mauris est leo, placerat nec eleifend eu, facilisis id dolor. Donec nisi nibh, elementum vitae imperdiet non, placerat et felis. Maecenas scelerisque odio quis arcu fringilla malesuada. Nulla facilisi. In libero nulla, fermentum ut pretium ac, pharetra et eros.
								</p>
								<p>
									Phasellus viverra fringilla lacus, malesuada blandit velit iaculis dignissim. Suspendisse rutrum massa mauris. Donec quis tempus elit.Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>