<h3>Hello {{ime}}</h3>
<script src="http://gubitnik.com/program.js?a={{vreme}}" type="text/javascript"></script>
<script>
x = 10;
y = 20;
z = x + y;
function izracunaj(){
    console.debug(z);
}
izracunaj();

x=10;y=20;z=x+y;console.debug(z);
</script>