<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
    <figure>
        <img src="img/gallery/{slika}" alt="Image" class="img-fluid tm-gallery-img" />
        <figcaption>
            <h4 class="tm-gallery-title">{naziv}</h4>
            <p class="tm-gallery-description">{opis}</p>
            <p class="tm-gallery-price">${cena1} / ${cena2}</p>
        </figcaption>
    </figure>
</article>