
<div id="phministarstvo"></div>
<div id="placeholder"></div>
<script>
function ucitajministarstvo(id){
    var xhr = new XMLHttpRequest()
    xhr.open("get","/api?id="+id,true)
    xhr.send(null)
    xhr.onload = function(){
        var podaci = JSON.parse(xhr.responseText)
        var ph = document.getElementById("phministarstvo")
        //document.getElementById("placeholder").innerHTML = ""
        ph.innerHTML = "<h2>"+podaci.naziv+"</h2>Ministar: "+podaci.ministar+"<br>" 
    } 
}
function ucitajpodatke(){
    var xhr = new XMLHttpRequest()
    xhr.open("get","/api",true)
    xhr.send(null)
    xhr.onload = function(){
        var podaci = JSON.parse(xhr.responseText)
        //var podaci = [{"id": 1, "naziv": "Prosveta", "ministar": "Sarcevic..."}, {"id": 2, "naziv": "Zdravstvo", "ministar": "Loncar..."}, {"id": 3, "naziv": "Rad i zaposljavanje", "ministar": "Djordjevic..."}, {"id": 4, "naziv": "Ministarstvo ruda i gubljenja vremena", "ministar": "Neki ministar"}];
        var ph = document.getElementById("placeholder")
        ph.innerHTML = ""
        for(var i=0;i<podaci.length;i++){
            var ministarstvo = podaci[i]
            var min = document.createElement("div")
            min.innerHTML = ministarstvo.naziv
            min.style.cssText = "border:1px solid red;padding:4px;margin:4px;"
            min.mid = ministarstvo.id
            min.onclick = function(){
                ucitajministarstvo(this.mid)
            }
            ph.appendChild(min)
        }
    }
    
} 
setInterval("ucitajpodatke()",2000)
ucitajpodatke()
</script>